
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>经纪大师 | 登录</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!--[if lte IE 7]>
    <div style="background:#f16b80;  width:100%; height:50px; line-height:50px; text-align:center; font-size:14px; color:#fff; font-family:"微软雅黑";>
        温馨提示：您目前的浏览器版本过低，网站部分功能无法正常使用，建议尽快升级：
            <a href="http://www.microsoft.com/china/windows/IE/upgrade/index.aspx" name="升级ie浏览器" id="upgrade_ie" target="_blank" style=" display:inline-block;width:154px; height:40px;  vertical-align:middle;  margin:0 18px 0 12px;_margin-top:4px;"><img src="/content/images/ie.jpg" width="154" height="40"/></a>
                 或安装
            <a href="http://www.firefox.com.cn" target="_blank" name="升级火狐浏览器" id="upgrade_firefox" style="display:inline-block;width:154px; height:40px;  vertical-align:middle;  margin:0 18px 0 12px;_margin-top:4px;"><img src="/content/images/firefox.jpg" width="154" height="40"/></a>
    </div>
    <![endif]-->
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="http://123.56.185.114:8000/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="http://123.56.185.114:8000/al/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="http://123.56.185.114:8000/plugins/iCheck/square/blue.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="/"><b>城市</b>管理系统</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">请登录</p>

            <form action="@Url.Action("Login")" method="post">
                <div class="form-group has-feedback">
                    <input type="text" id="u" name="username" class="form-control" placeholder="手机号或者用户名" required="required">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" id="p" name="password" class="form-control" placeholder="密码" required="required">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        @*<div class="checkbox icheck">
                                <label>
                                    <input type="checkbox"> Remember Me
                                </label>
                            </div>*@
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button id="s" type="submit" class="btn btn-primary btn-block btn-flat">验证登录</button>
                    </div>
                    <!-- /.col -->
                </div>
                <div class="row">
                    <div id="m">
                    </div>
                </div>
            </form>

            @*<div class="social-auth-links text-center">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                        <i class="fa fa-facebook"></i> Sign in using
                        Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                        <i class="fa fa-google-plus"></i> Sign in using
                        Google+
                    </a>
                </div>*@
            <!-- /.social-auth-links -->

            <a href="#">忘记密码</a><br>
            @*<a href="register.html" class="text-center">申请注册</a>*@

        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery 2.1.4 -->
    <script src="http://123.56.185.114:8000/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="http://123.56.185.114:8000/bootstrap/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="http://123.56.185.114:8000/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('#u').focus();
            $("#s").click(function () {
                var u = $('#u'), p = $('#p'), m = $('#m');
                @Html.Raw(new[] { "localhost", "::1", "127.0.0.1" }.Contains(Request.UserHostAddress) ? "if(u.val() == '') { u.val('root');p.val('123456'); }" : "")
                if (u.val() === '') {
                    m.html('请输入用户名!');
                    u.focus();
                } else if (p.val() === '') {
                    m.html('请输入密码!');
                    p.focus();
                } else {
                    $.ajax({
                        url: "/base/session/login",
                        data: { username: u.val(), password: p.val() },
                        type: 'post',
                        dataType: 'json',
                        beforeSend: function () { $('#m').html('正在登录...'); }
                    })
                        .success(function (data) {
                            if (data.status == 200) {
                                $('#m').html(data.message);
                                top.location.href = data.data.url;
                            } else {
                                $('#m').html(data.message);
                            }
                        })
                        .fail(function () { $('#m').html('请求服务器验证失败!'); })
                        .error(function () { $('#m').html('服务器返回结果格式错误!'); });
                }
                return false;
            });
        });
    </script>
</body>
</html>
