<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="aspnet:MaxHttpCollectionKeys" value="50000" />
  <add key="aspnet:MaxJsonDeserializerMembers" value="50000" />
  <add key="DbConnString" value="Server=127.0.0.1;Port=3306;Database=bm;Uid=root;Pwd=1234;MinimumPoolSize=10;maximumpoolsize=50;AllowUserVariables=True;AllowZeroDateTime=True;Connection Timeout=50;" />
  <add key="DbConnStringB" value="Server=123.56.185.114;Port=3306;Database=bm;Uid=user;Pwd=1ac8GawEzi;MinimumPoolSize=10;maximumpoolsize=50;AllowUserVariables=True;AllowZeroDateTime=True;Connection Timeout=50;" />
</appSettings>