@using Bm.Modules.Html
@model IList<Bm.Models.Dp.DevRoom>

@section Header{
    <script src="~/Content/JavaScript/Js_Tools.js"></script>
}

@section PageHead {
    <h1>楼盘信息<small></small></h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>首页</a></li>
        <li><a href="@Url.Action("Index")"><i class="fa fa-book"></i>楼盘</a></li>
        <li class="active">删除户型信息</li>
    </ol>
}
@using (Html.BeginForm())
{
        <!-- Main content -->
    <section class="content">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">确定删除这些数据吗？</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                                @Html.Raw(Model.ToHtmlTable()
                                    .Table(new HtmlElement("table")
                                        .Attr("class", "table data table-bordered table-striped dataTable")
                                        .Attr("role", "grid")
                                        .Attr("aria-describedby", "example1_info"))
                                    .Add(m => m.No)
                                    .Add(m => m.Name)
                                    .Add(m => m.Room)
                                    .Add(m => m.TotalPrice)
                                    .Add(m => m.Area)
                                    .ToString())
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn bg-blue btn-flat margin"><i class="fa fa-check"></i> 确认删除</button>
                    <a href="@Url.Action("Index",new { No=Model[0].DpNo})" class="btn btn-default btn-flat margin"><i class="fa fa-mail-reply"></i> 返回列表</a>
                </div>
                <!-- /.box-footer -->
            </div>
    </section>
}