@using Bm.Modules.Html
@model IList<Bm.Models.Dp.Developer>

@section Header{
    <script src="~/Scripts/init.js"></script>
}

@section PageHead {
    <h1>开发商信息<small></small></h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>首页</a></li>
        <li><a href="@Url.Action("Index")"><i class="fa fa-book"></i>开发商</a></li>
        <li class="active">删除开发商信息</li>
    </ol>
}
@using (Html.BeginForm())
{
        <!-- Main content -->
    <section class="content">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">确定删除这些数据吗？</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-12">
                                 @Html.Raw(Model.ToHtmlTable()
                                .Table(new HtmlElement("table")
                                    .Attr("class", "table table-bordered table-striped dataTable")
                                    .Attr("role", "grid")
                                    .Attr("aria-describedby", "example1_info"))
                                .Add(m => m.No)
                                .Add(m => m.Name)
                                .ToString())
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn bg-blue btn-flat margin"><i class="fa fa-check"></i> 确认删除</button>
                    <a href="@Url.Action("Index")" class="btn btn-default btn-flat margin"><i class="fa fa-mail-reply"></i> 返回列表</a>
                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>
    </section>
}